<footer>
  <section>
    <ul>
      <li><a href="https://www.github.com/turiguilano">Github</a></li>
      <li><a href="https://www.github.com/turiguilano">Github</a></li>
      <li><a href="https://www.github.com/turiguilano">Github</a></li>
    </ul>
    <img src="/assets/softsquare_logo.png" />
  </section>
</footer>